## Introduction to Python

Python is the best programming language for prototyping.

In [ ]:
print("hello world")

In [ ]:
print("hello world again")

In [ ]:
a=3

In [ ]:
print(a)

In [ ]:
print(a+a)

In [ ]:
type(a)

In [ ]:
b=3.3
type(b)

In [ ]:
s="hello"

In [ ]:
s+s

In [ ]:
string1="hello"

In [ ]:
string2="world"

In [ ]:
string1+string2

In [ ]:
type(string1)

In [ ]:
dir(a)

In [ ]:
type(string1)

In [ ]:
dir(string1)

In [ ]:
string1.capitalize()

In [ ]:
string1

In [ ]:
help(string1.capitalize)

In [ ]:
help(string1.replace)

In [ ]:
string1="hello hello"
string1.replace("ll","AA", -1)

In [ ]:
dir(string1)

In [ ]:
help(string1.count)

In [ ]:
string3="Toronto is the capital of Ontario.  It is a nice city"
string3.count("Toronto")

In [ ]:
string3[0:4]

In [ ]:
string3[:4]

In [ ]:
string3[4:10]

In [ ]:
string3[10:]

In [ ]:
string3[2]

In [ ]:
string3[-1]

In [ ]:
string3[-6:]

In [ ]:
string3[0]="t"

In [ ]:
string3="t"+string3[1:]

In [ ]:
string3

## Lists

In [ ]:
mylist = ["A" ,"B" ,"C" ,"D", 1, 2.0, ["1","2"] ]

In [ ]:
mylist

In [ ]:
mylist[0]

In [ ]:
mylist[0]="B"

In [ ]:
mylist

In [ ]:
mylist[6]

In [ ]:
mylist[6][1]

In [ ]:
mylist[0:4]

In [ ]:
mylist[-1]

In [ ]:
for i in [0,1,2,3,4,5]:
    print(i)

In [ ]:
for i in ["a","b","c","d","e"]:
    print(i)

In [ ]:
mylist=[]
for i in range(6):
    mylist.append(str(i))
    print(str(i))

In [ ]:
mylist

In [ ]:
mylist=[]
for i in range(6):

    if(i==0):
        print("zero")
    elif(i%2==0):
        print(i)
    else:
        print("not even")

## Working with NLTK

Good resource: https://www.nltk.org/book/

In [ ]:
import nltk

In [ ]:
test_string = "I have a cat, a dog, and a parrot as pets."

In [ ]:
tokens = nltk.word_tokenize(test_string)

In [ ]:
tokens

In [ ]:
nltk.pos_tag(tokens)

In [ ]:
test_string="They refuse to permit us to obtain the refuse permit."
tokens = nltk.word_tokenize(test_string)
nltk.pos_tag(tokens)

In [ ]:
test_string="I can drink a can of soda."
tokens = nltk.word_tokenize(test_string)
nltk.pos_tag(tokens)

In [ ]:
nltk.help.upenn_tagset()

In [ ]:
test_string="I can drink a can of soda."
nltk.pos_tag(nltk.word_tokenize(test_string))

In [ ]:
nltk.pos_tag(nltk.word_tokenize("I can drink a can of soda."))

In [ ]:
import nltk
import pandas as pd

In [ ]:
df = pd.read_csv("elawsCorpus-output.csv",encoding='latin-1')

In [ ]:
#df

In [ ]:
df.shape

In [ ]:
df.drop(df.index[20:],inplace=True)

In [ ]:
df.shape

In [ ]:
cp elawsCorpus-output.csv /tmp/

In [ ]:
#print(df.iloc[0,1])

In [ ]:
text_law=df.iloc[0,1].replace("\x92","'").replace("\x96","-").replace('\x93','"').replace("\x94",'"')

In [ ]:
text_law

In [ ]:
tokens = nltk.word_tokenize(text_law)

In [ ]:
tokens_tagged = nltk.pos_tag(tokens)

In [ ]:
len(tokens_tagged)

In [ ]:
type(tokens_tagged)

In [ ]:
#tokens_tagged

In [ ]:
#list(filter(  lambda x: x[1]=="NN", tokens_tagged))

In [ ]:
tokens_tagged_nouns=list(filter(  lambda x: x[1][0:2]=="NN", tokens_tagged))

In [ ]:
#tokens_tagged_nouns

In [ ]:
nouns = list( map(lambda x: x[0],tokens_tagged_nouns) )

In [ ]:
#nouns

In [ ]:
nouns_lower= list(map(lambda x: x.lower(), nouns))

In [ ]:
nouns_unique = list(set(nouns_lower))

In [ ]:
len(nouns_unique)

In [ ]:
#nouns_unique

In [ ]:
nouns_unique.sort()

## Getting a list of laws for each word, with Pandas

In [1]:
import nltk
def process_law_text(input_text):
    text_law=input_text.replace("\x92","'").replace("\x96","-").replace('\x93','"').replace("\x94",'"')
    tokens = nltk.word_tokenize(text_law)
    tokens_tagged = nltk.pos_tag(tokens)
    tokens_tagged_nouns=list(filter(  lambda x: x[1][0]=="N" and x[1][1]=="N", tokens_tagged))
    nouns = list( map(lambda x: x[0],tokens_tagged_nouns) )
    nouns_lower= list(map(lambda x: x.lower(), nouns))
    nouns_unique = list(set(nouns_lower))
    nouns_unique.sort()
    return nouns_unique

In [2]:
import pandas as pd

import time
start=time.time()
df1 = pd.read_csv("elawsCorpus-output.csv",encoding='latin-1')
df1.drop(df1.index[20:],inplace=True)
df1["noun_list"]=df1["Text"].apply(lambda x: process_law_text(x))
df1.drop(columns=["Text","hyperlink"], inplace=True)
df1.rename(index=str, columns={"Unnamed: 0":"law"},inplace=True)

df2 = pd.DataFrame(df1.noun_list.tolist(), index=df1.law)

df3=df2.stack().reset_index(level=1, drop=True).reset_index().rename(columns={0:"noun_list"})

df3["law"]=df3["law"].apply(lambda x: [x,])

df4=df3.groupby("noun_list").agg({"law":"sum"})
end=time.time()
print("time= ",end-start)

time=  25.11015295982361

In [3]:
df1

    law                                          noun_list
0     1  [39, a, a.1, a.2, a.m., ability, absence, abse...
1     2  [3, 32, 39.2, ______________, a, ability, acco...
2     3  [a, a.m., ability, absence, absent, abuse, acc...
3     4  [54, 65, a, a., a.m., abbreviation, ability, a...
4     5  [___________, a, ability, access, accordance, ...
5     6  [=, accordance, account, accounts, act, action...
6     7  [______________, a, a.1, a.2, a.3, abatement, ...
7     8  [______________, a.m., absence, acceptance, ac...
8     9  [______________, a, absence, access, accident,...
9    10  [______________, a, access, accordance, accoun...
10   11  [a, acceptance, access, accordance, account, a...
11   12  [______________, access, accordance, accountin...
12   13  [accordance, act, action, acts, administration...
13   14  [act, acts, administration, agency, agreement,...
14   15  [a, access, accordance, account, accounts, act...
15   16  [access, accordance, accounts, acquisition, ac...
16   17  [a, absence, access, accordance, act, activiti...
17   18  [a, absence, access, accordance, act, action, ...
18   19  [34, 66, ______________, a, ability, absence, ...
19   20  [a, ability, absence, accordance, act, action,...

In [4]:
df4

                                                              law
noun_list
3                                                             [2]
32                                                            [2]
34                                                           [19]
39                                                            [1]
39.2                                                          [2]
54                                                            [4]
65                                                            [4]
66                                                           [19]
=                                                             [6]
___________                                                   [5]
______________                           [2, 7, 8, 9, 10, 12, 19]
a               [1, 2, 3, 4, 5, 7, 9, 10, 11, 15, 17, 18, 19, 20]
a.                                                            [4]
a.1                                                        [1, 7]
a.2                                                        [1, 7]
a.3                                                           [7]
a.m.                                                 [1, 3, 4, 8]
abatement                                                     [7]
abbreviation                                               [4, 7]
abbreviations                                                 [7]
ability                                [1, 2, 3, 4, 5, 7, 19, 20]
aboriginal                                                    [4]
abridgement                                                   [7]
absence                        [1, 3, 4, 7, 8, 9, 17, 18, 19, 20]
absent                                                     [1, 3]
abuse                                                      [1, 3]
accept                                                        [7]
acceptance                                          [1, 7, 8, 11]
accepting                                                     [8]
access          [1, 3, 4, 5, 7, 9, 10, 11, 12, 15, 16, 17, 18,...
...                                                           ...
writ                                                      [7, 10]
writing                [1, 3, 4, 7, 8, 9, 11, 15, 17, 18, 19, 20]
written                                                    [1, 9]
wrongdoing                                                    [3]
x                                                   [1, 3, 7, 19]
x-ray                                                        [19]
x-rays                                                       [19]
xi                                                         [3, 7]
xii                                                           [7]
xiii                                                          [7]
xiv                                                           [7]
xv                                                            [7]
xvi                                                           [7]
xvii                                                          [7]
xviii                                                         [7]
xx                                                            [7]
xx.1                                                          [5]
y                                                          [1, 4]
year            [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 16, 17...
years           [1, 3, 4, 5, 7, 8, 9, 11, 14, 15, 16, 17, 18, ...
yorkview                                                      [1]
young                                                        [19]
youth                                    [1, 4, 5, 9, 17, 19, 20]
z                                                         [4, 12]
                                                         [2, 20]
à                                                      [6, 7, 19]
école                                                         [4]
électronique                                                  [7]
établissement                                         [4, 19, 20]
éthanol                                                       [9]

[3570 rows x 1 columns]